{% extends "blog/base.html" %}

{% block title %} 
    Home | BeginnerBlog 
{% endblock%} 

{% block content %}

<h1>BeginnerBlog</h1>
<h2>Latest Posts</h2>

{% if posts %} {% for post in posts %}
<article>
  <h3>
    <a href="{% url 'post_detail' post.pk %}"> {{ post.title }} </a>
  </h3>

  <p>{{ post.content }}</p>
  <p>Created: {{ post.created_at }}</p>

  {% if post.published %}
  <p>Published</p>
  {% else %}
  <p>Draft</p>
  {% endif %}
</article>
{% endfor %} {% else %}

<p>No posts are available yet.</p>

{% endif %} {% endblock %}
